<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrando Clientes</title>
    {% load static %}
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet">
    <script src="{% static 'js/funciones.js' %}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <script>

      function MostrarFecha() 
          {   
            document.getElementById('demo').innerHTML = Date().toString().substring(4,15);
          }

      function mytime()
      {
        var d=new Date();
        ap="am";
        h=d.getHours();
        m=d.getMinutes();
        s=d.getSeconds();
        if (h>11) { ap = "pm"; }
        if (h>12) { h = h-12; }
        if (h==0) { h = 12; }
        if (m<10) { m = "0" + m; }
        if (s<10) { s = "0" + s; }
        document.getElementById('timehere').innerHTML=h + ":" + m + ":" + s + " " + ap;
        t=setTimeout('mytime()',500);
      }

    </script>

</head>
<body style="background-color:rgb(0, 59, 0);">
  {% load static %}
  <div class="header-row" id="header-row" style="padding: 0px; overflow:hidden;">
  <div class="container-fluid" style="padding-top: 50px;">
    <div class="row"> 
      <div class="col-xs-12"> 
          <a class="navbar-brand logo" href="{% url 'index' %}">
            <img src="{% static 'img/bannerlogo1.jpg' %}" alt="company logo" style="width: 100%;">
          </a> 
      </div>     
    </div>
  </div>
  </div>

  <!--navbar-->
  <nav class="navbar fixed-top navbar-expand-sm navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
      <span class="navbar-toggler-icon btn-outline-success"></span>
    </button>
    
    <!-- logo -->
    <a class="navbar-brand" href="{% url 'index' %}" style="padding-left: 30px">
      <img src="{% static 'img/tree-icon.png' %}" width="30" height="30" alt="">
    </a>
    
    <!-- enlaces -->
    <div class="collapse navbar-collapse" id="opciones">   
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="btn btn-outline-success me-2" href="{% url 'index' %}" role="button">Home</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-success me-2" href="{% url 'productos' %}">Catálogo</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-success me-2" href="{% url 'somos' %}">Quienes Somos</a>
        </li> 
        <li class="nav-item">
          <a class="btn btn-outline-success me-2" href="{% url 'formulario' %}">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-success me-2" href="{% url 'formulario_registro' %}">Registro</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-success me-2" id="demo" onclick="MostrarFecha(this)">Fecha</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-success me-2" id="timehere" onclick="mytime()">Mostrar Hora</a>
        </li>
      </ul>
    </div>
    <div>
      {% if user.is_authenticated %}
                <a href="{% url 'mostrar_clientes' %}" class="btn btn-success">Clientes</a>
                <a href="{% url 'mostrar_productos' %}" class="btn btn-success">Productos</a>
                <a href="{%  url 'logout' %}" class="btn btn-warning">Cerrar Sesión</a>
                <a href="#"->Bienvenido {{user.username}}</a>
      {% else %}
      <a href="{% url 'login' %}" class="btn btn-success">Iniciar Sesión</a>
      {% endif %}
    </div>
  </nav>
  <script src="https ://code.jquery.com/jquery-3.4.1.min.js" integrity= "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSF1Bw8HfCJo=" crossorigin=" anonymous" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <div class="container">
      <br>
        <h1>Mostrando Clientes</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Rut</th>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Edad</th>
                    <th>Correo</th>
                    <th>Modificar Cliente</th>
                    <th>Eliminar Cliente</th>  
                </tr>
            </thead>
            <tbody>
                {% for cl in cliente %}
                <tr>
                    <td> {{ cl.rut }}</td>
                    <td> {{ cl.nombre }}</td>
                    <td> {{ cl.direccion }}</td>
                    <td> {{ cl.telefono }}</td>
                    <td> {{ cl.edad }}</td>
                    <td> {{ cl.correo }}</td>
                    {% if user.is_authenticated  %}
                      <td> <a href="{% url 'form_mod_cliente' cl.rut %}" class="btn btn-primary"> Modificar</a></td>
                      <td> <a href="{% url 'form_del_cliente' cl.rut %}" class="btn btn-danger"> Eliminar</a></td>
                    {% else %}
                      <td><a href="#" style="color:red;">No tiene permisos para modificar</a></td>
                      <td><a href="#" style="color:red;">No tiene permisos para eliminar</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if user.is_authenticated  %}
        <div class="float-right">
          <a href="{% url 'form_crear_cliente' %}" class="btn btn-primary">Crear Cliente</a>
        </div>
        {% endif %}
          <a href="{% url 'index' %}" class="btn btn-success">Home</a>
    </div>

    <!--Footer-->
  <br>
  <br>
  <div class="container-fluid" style="padding:0;margin:0">
    
    <footer>
      
      <footer class="text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">

            <!-- Facebook -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #3b5998;"
              href="#!"
              role="button">
              <img src="{% static 'img/rrss-facebook.png' %}" class="img-fluid" style="height:20px; width:20px; padding: 0px;">
            </a>
      
            <!-- Instagram -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #ac2bac;"
              href="#!"
              role="button">
              <img src="{% static 'img/5282544_camera_instagram_social media_social network_instagram logo_icon.png' %}" class="img-fluid" style="height:20px; width:20px; padding: 0px;"></a>
            <!-- Linkedin -->
            <a
              class="btn btn-primary btn-floating m-1"
              style="background-color: #0082ca;"
              href="#!"
              role="button">
              <img src="{% static 'img/rrss-linkedin.png' %}" class="img-fluid" style="height:20px; width:20px; padding: 0px;"></a>
          </section>
          <!-- Section: Social media end -->
        </div>
        <!-- Grid container end -->
      
        <!-- Copyright -->
        <div style="color:white;">
          Roderick Véliz<br>
          Marcos Cariqueo
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="{% url 'index' %}">Vivero Santa Hilda</a>
        </div>
        <!-- Copyright end-->
      </footer>

    </footer>
   </div>
</body>
</html>